
{% extends "base.html" %}
{% block content %}
<hr>
<h1>Compose your blogpost here:</h1><br>


    <form action="/newpost" method="post">
     <label for="title">Title:</label>
     <input id="title" type="text" name="title" />
     <span class = "error">{{title_error}}</span><br><br>
     
     <label for="blog">Blog Entry:</label>
     <input id="body" type="text" name="body"/>
     <span class = "error">{{body_error}}</span><br><br>
     
     <input type="submit" value = "Submit your blog!" />
    </form>   

{% endblock %}    