{% extends "base.html" %}
{% block content %}
     <hr><br>

     <h1>CREATE YOUR ACCOUNT!</h1>
      
   <br><br>
        <form action="/signup" method="post">

        <label for="username">Username:</label>
        <input id="username" type="text" name="username" value = "{{username}}" />
        <span class = 'error'>{{username_error}}</span><br><br>

        <label for="password">Password:</label>        
        <input id="password" type="password" name="password"/>
        <span class = 'error'>{{password_error}}</span><br><br>

        <label for="verify">Type Password Again:</label>        
        <input id="verify" type="password" name="verify"/><br><br>
        <span class = 'error'>{{verify_error}}</span><br><br>
        

        <input type="submit" value = "Create Account" />
        </form> 

{% endblock %}